{
  "tilesources": [
    {
      "type": "osm",
      "name": "OSM",
      "id": "osm"
    },
    {
      "type": "xyz",
      "name": "標準地図",
      "id": "std",
      "url": "https://maps.gsi.go.jp/xyz/std/{z}/{x}/{y}.png?_=20201001a",
      "attributions":
      "<a href=\"https://maps.gsi.go.jp/development/ichiran.html\"> 国土地理院 </a>"
    },
    {
      "type": "tilewms",
      "name": "赤色立体図",
      "id": "red",
      "url": "https://crm-server.demo.georeport.org/geoserver/raster/wms",
      "layer": "raster:赤色立体図データ",
      "projection": "EPSG:4326"
    }
  ],
  "cadastral": {
    "id": "wmsLayer",
    "url": "<add url to wms layer>",
    "layer": "<add layer>",
    "projection": "EPSG:4326"
  },
  "center": "134.33234254149718 35.2107812998969",
  "zoom": "11"
}
